@mixin section{
	  width: 100%;
  display: inline-block;
}
body{
	font-family:'Lato', Calibri, Arial, sans-serif;
}

.outerDiv.who{ 
@include section;
  color:#0B486B;
  background-color:#79BD9A;

}

.outerDiv.works{
@include section;
	background-color: #0B486B;
	color:#CFF09E;
}

.out{
	color: #CFF09E;
}

img:hover{
	 opacity: 0.8;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
h2,p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .bigger{
    font-size:5em;
  }
  .links{
  color: #CFF09E
  }
  .outerDiv.linking{
  @include section;
  	background-color: #CFF09E;
	color: #0B486B;
  }