@mixin section{
	  width: 100%;
  display: inline-block;
}
body{
	font-family:'Lato', Calibri, Arial, sans-serif;
}

.outerDiv.who{ 
@include section;
  color:#0B486B;
  background-color:#79BD9A;

}

.outerDiv.works{
@include section;
	background-color: #0B486B;
	color:#CFF09E;
}

.out{
	color: #CFF09E;
}



h2,p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .bigger{
    font-size:5em;
  }
  .links{
  color: #CFF09E
  }
  .outerDiv.linking{
  @include section;
  	background-color: #CFF09E;
	color: #0B486B;
  }