body {
  font-family: 'Lato', Calibri, Arial, sans-serif; }

.outerDiv.who {
  width: 100%;
  display: inline-block;
  color: #0B486B;
  background-color: #79BD9A; }

.outerDiv.works {
  width: 100%;
  display: inline-block;
  background-color: #0B486B;
  color: #CFF09E; }

.out {
  color: #CFF09E; }

h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.bigger {
  font-size: 5em; }

.links {
  color: #cff09e; }

.outerDiv.linking {
  width: 100%;
  display: inline-block;
  background-color: #CFF09E;
  color: #0B486B; }
